body{
	background-image: url(https://cdn.dribbble.com/users/604891/screenshots/2528680/psg_dr-02.png);
	background-size: cover;
}

.nav {
	background-color:rgba(23, 105, 237, 0.9);
	border: 5px solid black;
	padding: 10px;
}

a {
	outline: none;
	background-color: #fff;
	border: 1px solid black;
	padding: 5px 15px;
	border-radius: 50px;
	margin: 0 auto;
	display: inline-block;

}

a:link :visited {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

.wrapper {
	margin: 0 auto;
	background-color:rgba(23, 105, 237, 0.9);
	width: 100%;
	max-width: 540px;
	padding: 10px;
	border-radius: 10px;
	border: 5px solid black;
}

.submitty {
	outline: none;
	background: #fff;
	border: 1px solid black;
	padding: .5em 1.5em;
	border-radius: 1.5em;
}

.submitty:hover {
		text-decoration: underline;
	}

.wrapper.fit_inside {
	width: 100%;
	max-width: 1200px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
	table-layout: fixed;
}

.table p {
	margin: 0;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
    word-wrap: break-word;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

.hover-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.hover-description:hover {
    overflow: visible;
    color: transparent;
    user-select: none;
}

.hover-description:after {
    content: attr(data-description);
    opacity: 0;
    transition: .2s ease-in-out all;
}

.hover-description:hover:after {
    position: absolute;
    left: 0;
    opacity: 1;
    color: white;
    white-space: normal;
    max-width: 230px;
    background: #444;
    z-index: 30;
    padding: 10px;
}

strong {
	text-decoration: underline;
}